.thankyou-container {
  padding: 40px;
  max-width: 600px;
  margin: 100px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  border-radius: 10px;
  background-color: #253044;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.thankyou-container h1 {
  color: #2ecc71;
  margin-bottom: 20px;
}

.thankyou-container p {
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
}
